# Leet 668: Kth smallest number in Multiplication Table (乘法表 百度2016实习生真题)

## 中文题目描述
度度熊和爷爷在玩一个乘法表游戏。乘法表的第i行第j列位置的元素为$i*j$，并且乘法表下标编号从1开始，比如$2*3$乘法表为
```
1 2 3
2 4 6
```
爷爷十分聪明，对于$n*m$的乘法表，只要度度熊给出一个数$k$，爷爷就能立刻告诉度度熊乘法表中元素按照不减顺序排列之后，第k个元素是多少。你能重复这个游戏吗？

### 输入
输入数据是三个整数：$n, m, k\space\space(1≤n, m≤5*105, 1≤k≤nm)$。
#### 样例输入：
```
2, 3, 4
```

### 输出
输出$n*m$乘法表按照不减顺序排列的第$k$个数。
#### 样例输出：
```
3
```

## Description
Nearly every one have used the **Multiplication** Table. But could you find out the **k-th** smallest number quickly from the multiplication table?

Given the height $m$ and the length n of a $m * n$ Multiplication Table, and a positive integer $k$, you need to return the **k-th** smallest number in this table.

**Example 1:**
```
Input: m = 3, n = 3, k = 5
Output: 
Explanation: 
The Multiplication Table:
1	2	3
2	4	6
3	6	9

The 5-th smallest number is 3 (1, 2, 2, 3, 3).
```

**Example 2:**
```
Input: m = 2, n = 3, k = 6
Output: 
Explanation: 
The Multiplication Table:
1	2	3
2	4	6

The 6-th smallest number is 6 (1, 2, 2, 3, 4, 6).
```

**Note:**
1. The $m$ and $n$ will be in the range $[1, 30000]$.
2. The $k$ will be in the range $[1, m * n]$

## Methods
### Method 1 - Brute Force